/*
  Minimum viable styles for Viewer
*/

.Viewer-viewer {
	overflow: hidden;
	position: relative;
	display: flex;
	align-items: center;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	outline: none;
}

.Viewer-draggable-true {
	cursor: grab;
}

.Viewer-recording-true {
	cursor: cell !important;
}

.Viewer-viewer-image {
	width: 100%;
	margin: auto;
}
.Viewer-viewer-image-shown {
	display: block;
}
.Viewer-viewer-image-hidden {
	display: none;
}

/* Hint */

.Viewer-hint-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(237, 237, 237, 0.3);
	z-index: 100;
	cursor: pointer;
}

.drag-guide {
	display: flex;
	background: #fbfbfb;
	padding: 10px;
	border-radius: 30px;
	align-items: center;
	margin: 14px 31px;
}

.drag-image {
	height: auto;
	width: 75px;
}

.Viewer-hint {
	width: 80px;
	height: 80px;
	background: #333;
	opacity: 1;
	color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	-webkit-transition: box-shadow 0.1s; /* Safari */
	transition: box-shadow 0.1s;
}

.Viewer-hint:before,
.Viewer-hint:after {
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}

.Viewer-hint:before {
	border-width: 15px 15px 15px 0;
	border-color: transparent #fff transparent transparent;
	left: 9px;
}

.Viewer-hint:after {
	border-width: 15px 0 15px 15px;
	border-color: transparent transparent transparent #fff;
	right: 9px;
}

.Viewer-hint-text {
	display: block;
	font-size: 34px;
	height: 34px;
	font-weight: bold;
	width: 80%;
	text-align: center;
	position: absolute;
	top: -16px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.Viewer-hint-overlay:hover .Viewer-hint,
.Viewer-hint-overlay:focus .Viewer-hint {
	box-shadow: 0 0 16px 1px #333;
}

.Viewer-full-screen {
	position: absolute;
	top: 0px;
	left: 0px;
}

/* Loading state */

.Viewer-loading {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 101;
}

/* Animations */

@-webkit-keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-ms-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
